  <!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h-->
  <style>

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.other {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.org {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}

    .glyphicon.glyphicon-user {
      font-size: 150px;
      padding-top: 20px;
    }

    #contact-content {
      position: fixed;
      padding-left: 10px;
      padding-right: 10px;
      left: 40%;
      height: 400px;
      width: 20%;
      text-align: left;
      box-sizing: border-box;
      transform: scale(0);
      background: #ffffff;
      z-index: 2;
    }

    #contact-content.active {
      transition: all 200ms ease-in-out;
      transform: scale(1);
    }

    #contact-dim {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 100vw;
      background: #000000;
      opacity: 0.8;
      z-index: 1;
      display: none;
    }

    #contact-dim.active {
      display: block;
    }

    .contact-field {
      font-size: 19px;
      font-weight: 500;
    }

    .contact-close {
      position: absolute;
      bottom: 20px;
      left: 37.5%;
      width: 25%;
    }
  </style>

  <script type="text/javascript">
    function toggleContact(){
      document.getElementById("contact-content").classList.toggle("active");
      document.getElementById("contact-dim").classList.toggle("active");
    }
  </script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ExpertFinder</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="/home">Home</a></li>
          <li><a href="/Feature2">Find Expert</a></li>
          <li class='active'><a href="/Feature1">My Profile</a></li>
          <li><a href="Feature5.html">Register</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
          <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">

      </div>
      <div class="col-sm-8 text-left">
        <span class="glyphicon glyphicon-user"></span>
		<h1 style="margin-bottom:5px">{{data.fName}} {{data.lName}}</h1>
    <p style="font-size:25px;font-weight:500">{{data.profileTitle}}</p>
	
	<!-- Stored User ID -->
	<input type='hidden' id='storedUserID' name='storedUserID' value='{{data.userID}}'/>
	
    <!-- Contact Details Popup Toggle -->
    <div id="contact-dim"></div>
    <div id="contact-content">
      <div class="contact-close btn btn-primary" onclick="toggleContact()">Close</div>
      <h2>{{data.fName}} {{data.lName}}</h2>
	  <form action='/Feature1_edit_contact' method='post'>
      <hr style="margin-top:0px;margin-bottom:0px;border:1px solid #dddddd">
		  <label for='userID' hidden></label>
		  <input type='hidden' name='userID' value={{data.userID}} hidden>
	
		 <p><span class="contact-field">Email</span><br><a href={{data.email}}>{{data.email}}</a></p>
		<p><span class="contact-field">GitHub</span><br><a href={{data.githubURL}} target="_blank">{{data.githubURL}}</a></p>
		<p><span class="contact-field">Facebok</span><br><a href={{data.facebookURL}} target="_blank">{{data.facebookURL}}</a></p>
		<p><span class="contact-field">Twitter</span><br><a href={{data.twitterURL}}" target="_blank">{{data.twitterURL}}</a></p>
		  <br>

	  </form>
    </div>

    <button class="btn btn-default" onclick="toggleContact()">View Contact Details</button>
    <!-- Contact Details Popup Toggle -->

		<h3>Overview</h3>
		<p>{{data.profileBio}}</p>
 
        <hr>
        <h3>Skills</h3>
        <table class="table" id ='skillTable'>
          <thead class="thead-light">
            <tr>
              <th>Skills</th>
              <th>Experience (Years)</th>
 
            </tr>
          </thead>
          <tbody>
		  {{#each data.Skills}}
            <tr>
              <td id='skill' >{{name}}</td>
              <td>{{experience}}</td>
            </tr>
		  {{/each}}
          </tbody>
        </table>
     


        <h3>Past Coursework</h3>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Coursework</th>
              <th>Year</th>

            </tr>
          </thead>
          <tbody>
		  {{#each data.Courses}}
            <tr>
              <td>{{name}}</td>
              <td>{{season}} {{year}}</td>

            </tr>

			{{/each}}
          </tbody>
        </table>



<h3>Industry</h3>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Organization</th>
              <th>Duration</th>

            </tr>
          </thead>
          <tbody>
		  {{#each data.Industry}}
            <tr>
              <td>{{name}}</td>
              <td>{{experience}}</td>
            </tr>
			{{/each}}

          </tbody>
        </table>
		<form method='post' action='/Feature2_expertlist'>	
			<input type='submit' value='Return to Results'/>
		</form>

<br></br>
      </div>


      <div class="col-sm-2 sidenav">
        <div class="well">

        </div>
        <div class="well">

        </div>
      </div>
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
  $('#show').on('click', function () {
    $('.center').show();
    $(this).hide();
})

$('#close').on('click', function () {
    $('.center').hide();
    $('#show').show();
})

 $('#showCourse').on('click', function () {
    $('.other').show();
    $(this).hide();
})

$('#closeCourse').on('click', function () {
    $('.other').hide();
    $('#showCourse').show();
})

$('#showOrg').on('click', function () {
    $('.org').show();
    $(this).hide();
})

$('#closeOrg').on('click', function () {
    $('.org').hide();
    $('#showOrg').show();
})

</script>

  <script type="text/javascript">
    function toggleContact(){
      document.getElementById("contact-content").classList.toggle("active");
      document.getElementById("contact-dim").classList.toggle("active");
    }
  </script>


